# The path to the Git repo where your Homebrew backups will be stored
# A single file will get written there called 'Brewfile'
GIT_REPO_DIRPATH=

# These are generic comments, floating off in space

# This is another variable
# There are many like it
# But this one is mine
ANOTHER_VAR=
